
.contain-filtro{
    position: absolute;
    top: 0;
    left: -100%;
    min-height: 700px;
    z-index: 200;
}
hr{
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 2rem 0;
}

.filter-appearLeft{
    animation: appearLeft .5s ease-in-out forwards;
}
.filter-desaparecer {
    animation: desaparecer .5s ease-in-out forwards;
}


.css-19yg8i0-MuiButtonBase-root-MuiCheckbox-root{
    color: white !important;
}
.css-ahj2mt-MuiTypography-root{
    font-size: 1.2em;
}

@keyframes appearLeft {
    0%{ left: -100%; }
    100%{ left: 0; }
}
@keyframes desaparecer {
    0% { left: 0; }
    100% { left: -100%; }
}

@media screen and (min-width: 300px) {
    .contain-filtro {
        width: 250px;
    }
}

@media screen and (min-width: 420px) {
    .contain-filtro {
        width: 350px;
    }
}

@media screen and (min-width: 1200px) {
    .contain-filtro {
        position: relative;
        left: 0;
        width: 380px;
    }
}