@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --principal: #081928;
  --fondo: #E6F1FC;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--fondo);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
